<div class="content">
    <div class="add-project">
        <div class="box blue">
            <a href="javascript:createProject()">
                <div class="box-content">
                    <div class="info"><label>添加新项目</label></div>
                    <div class="action"><i class="foundicon-plus"></i></div>
                </div>
            </a>
        </div>
    </div>
    <div class="existing-projects"></div>
</div>